<%- include("partials/header"); -%>
  <link rel="stylesheet" href="css/sidebar.css">
  </head>

  <body id="bootstrap-overrides">
    <main role="main">
      <div class="wrapper d-flex">
        <%- include("partials/sidebar"); -%>
          <!-- Page Content  -->
          <div id="content" class="p-4 p-md-5 pt-5">
            <div class="container-fluid">
              <div class="row">
                <div class="card mx-2" style="width: 23rem; height : 10rem; background-color: #FFD498;">
                  <div class="card-body">
                    <h1 class="text-right text-bottom" style="color :black; font-weight: bold;"><%= node.length %></h1>
                    <h3 class="text-left" style="color :black; font-weight: lighter;">노드</h3>
                    <img src="images/node.png" width="32" height="32">
                  </div>
                </div>
                <div class="card mx-2" style="width: 23rem; height : 10rem; background-color: #FFD498;">
                  <div class="card-body">
                    <h1 class="text-right text-bottom" style="color :black; font-weight: bold;"><%= pod %></h1>
                    <h3 class="text-left" style="color :black; font-weight: lighter;">파드</h3>
                    <img src="images/pod.png" width="32" height="32">
                  </div>
                </div>
                <div class="card mx-2" style="width: 23rem; height : 10rem; background-color: #FFD498;">
                  <div class="card-body">
                    <h1 class="text-right text-bottom" style="color :black; font-weight: bold;"><%= ns %></h1>
                    <h3 class="text-left" style="color :black; font-weight: lighter;">네임스페이스</h3>
                    <img src="images/ns.png" width="32" height="32">
                  </div>
                </div>
                <div class="card mx-2" style="width: 23rem; height : 10rem; background-color: #FFD498;">
                  <div class="card-body">
                      <h1 class="text-right text-bottom" style="color :black; font-weight: bold;"><%= service %></h1>
                    <h3 class="text-left" style="color :black; font-weight: lighter;">서비스</h3>
                    <img src="images/svc.png" width="32" height="32">
                  </div>
                </div>
              </div>
              <div class="pt-5">
                <a href="http://a4fece6c315ed4113891f756f4cacc93-469063211.ap-northeast-1.elb.amazonaws.com/d/4b545447f/1-kubernetes-all-in-one-cluster-monitoring-kr?orgId=1&refresh=10s" target="_blank"><img src="images/grafana.png"></a>
                <a href="http://ab7a0ab0d0d614c80a9e00a591cf72ef-630421460.ap-northeast-1.elb.amazonaws.com/graph" target="_blank"><img class="mx-3" src="images/prometheus.png"></a>
              </div>
              <div class="pt-5">
                <a class="btn fw-bolder" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                  aria-controls="collapseExample">현재 노드 정보</a>
                <div class="collapse" id="collapseExample">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" class="col-2 text-center">이름</th>
                        <td>
                          <%= node[0].NAME %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">Status</th>
                        <td class="col-8">
                          <%= node[0].STATUS %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">Version</th>
                        <td>
                          <%= node[0].VERSION %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">OS</th>
                        <td>
                          <%= node[0].OSImage %>
                        </td> <!-- 추후 바뀔 수 있음 -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="pt-5">
                <a class="btn fw-bolder" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                  aria-controls="collapseExample1">Engine 정보</a>
                <div class="collapse" id="collapseExample1">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <th scope="row" class="col-2 text-center">Version</th>
                        <td>Github Action Test!!!!</td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">API Version</th>
                        <td class="col-8">API Version TEST~~</td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">Python Version</th>
                        <td>3.9.6</td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">OS Type</th>
                        <td>
                          <%= ostype%>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">OS</th>
                        <td>
                          <%= osplatform %>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row" class="text-center">Architecture</th>
                        <td>
                          <%= osarch %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>
    </main>
  </body>

  </html>
