<%- include("partials/header"); -%>
    <link rel="stylesheet" href="css/sidebar.css">
    </head>

    <body id="bootstrap-overrides">
        <main role="main">
            <div class="wrapper d-flex align-items-stretch">
                <%- include("partials/sidebar"); -%>
                    <!-- Page Content  -->
                    <div id="content" class="p-4 p-md-5 pt-5">
                        <div class="container-fluid">
                            <div class = "table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">Version</th>
                                        <th scope="col">OSImage</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% for (var i = 0; i < node.length; i++) { %>
                                      <tr>
                                        <th scope="row" class="col-1"><%= i + 1 %></th>
                                        <td class="col-4"><%= node[i].NAME %></td>
                                        <td class="col-2"><%= node[i].STATUS %></td>
                                        <td class="col-3"><%= node[i].VERSION %></td>
                                        <td class="col-3"><%= node[i].OSImage %></td> 
                                      </tr>
                                      <% } %>
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </body>
</html>